<hr/>
<div class="row container-fluid">
    <div class="col">
        LFT
    </div>
    <div class="col text-center">
        <%= request.original_url %>
    </div>
    <div class="col text-end">
        RGT
    </div>
</div>
