<div class="row container-fluid">
    <div class="col-1">
        <%= link_to 'Products', products_path %>
    </div>
    <div class="col-1">
        <%= link_to 'Categories', categories_path %>
    </div>
    <div class="col text-end">
        RGT
    </div>
</div>
<hr/>
