<div id="item_edit_panel" class="card">
    <div class="card-header">

<div class="row">
    <div class="col">
<h3 class="card-title text-nowrap">Editing Product '<%= @product.id %>'</h3>
    </div>
</div>

    </div> <!-- end class="card-header" -->
    <div class="card-body">

<%= render 'form', product: @product %>

    </div> <!-- end class="card-body" -->
</div>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
